@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.ttf") format("truetype");
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --text: #1b1213;
  --background: #fbfbfe;
  --primary: #ffc94d;
  --secondary: #c08c5d;
  --accent: #443f78;
}

body {
  margin: 0;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.75rem;
}

button {
  width: fit-content;
  padding: 0.5em 2em 0.5em 2em;
  border: black solid 0.2em;
  font-family: "Minecraft", Fallback, sans-serif;

  letter-spacing: 0.1em;
  transition: 0.2s;
}

button:hover {
  border: black solid 0.2em;
  cursor: pointer;
}

button:active {
  border: black solid 0.2em;
  cursor: pointer;
  transform: scale(0.95);
}
